<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BASE_URL" value="https://api.naver.com" />
    <add key="API_KEY" value="0100000000afb7de6201403a6bb53a1339a839e695f73d852d763cc371f4ca6c48a3b7ee9a" /> <!-- API License -->
    <add key="SECRET_KEY" value="AQAAAAAl3cX78O8vHpex4GEsNOW9R0D5M23d+OUrsBCRDryoRQ==" />
    <add key="CUSTOMER_ID" value="1208129" />
  </appSettings>
</configuration>
